[Unit]
Description = uWSGI
After = syslog.target

[Service]
Type=notify
ExecStart = /usr/local/bin/uwsgi --ini {{ SENSOR.UWSGI.DEST }}/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target