[Unit]
Description=remocon-rs

[Service]
Type=simple
Environment=RUST_LOG=info
ExecStart={{ REMOCON_RS.DEST }}/remocon-rs \
    --host 0.0.0.0 \
    --port 8080 \
    --workers 2 \
    --scripts_path {{ GPIO.SCRIPT.DEST }}

PrivateTmp=false
Restart=always

[Install]
WantedBy=multi-user.target
