[Unit]
Description=VMAgent
After=network.target

[Service]
Type=simple
ExecStart={{ VMAGENT.DEST }}/vmagent \
  -promscrape.config=={{ PROMETHEUS.DEST }}/prometheus.yml \
  -remoteWrite.url={{ VICTORIA_METRICS.REMOTE_URL }}

PrivateTmp=false
Restart=always

[Install]
WantedBy=multi-user.target
